@import "fonts"
@import "libs"
@import "vars"

html, body
	height: 100%
	margin: 0
	padding: 0

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font !important
	overflow-x: hidden

img
	width: 100%

// Общие классы
.text-center
	text-align: center

.text-bold
	font-weight: bold

.auth-button
	display: inline-block
	width: 180px
	height: 35px
	font-size: 14px
	color: #000
	text-decoration: none
	line-height: 35px
	font-weight: 500
	border: 1px solid #000
	border-radius: 15px
	background-color: rgba(#fff, .7)
	outline: none
	z-index: 1000
	transition: background-color .25s ease
	&:hover
		color: #000
		text-decoration: none
		background-color: rgba(#fff, 1)

.mobile-button
	display: inline-block
	width: 120px
	height: 30px
	font-size: 14px
	color: #000
	text-decoration: none
	font-weight: 500
	border: 1px solid #000
	border-radius: 15px
	background-color: rgba(#fff, .7)
	transition: background-color .25s ease
	&:hover
		color: #000
		text-decoration: none

.button-accent
	background-color: rgba($accent, .7)
	text-align: center
	&:hover
		background-color: rgba($accent, 1)

.container
	img
		max-width: 900px

// hamburger
.ham
	cursor: pointer
	transition: transform 400ms
	user-select: none
.hamRotate.active
	transform: rotate(45deg)
.hamRotate180.active
	transform: rotate(180deg)
.line
	fill: none
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
	stroke: #000
	stroke-width: 5.5
	stroke-linecap: round
.ham8 .top
	stroke-dasharray: 40 160
.ham8 .middle
	stroke-dasharray: 40 142
	transform-origin: 50%
	transition: transform 400ms
.ham8 .bottom
	stroke-dasharray: 40 85
	transform-origin: 50%
	transition: transform 400ms, stroke-dashoffset 400ms
.ham8.active .top
	stroke-dashoffset: -64px
.ham8.active .middle
	transform: rotate(90deg)
.ham8.active .bottom
	stroke-dashoffset: -64px

// Шапка сайта
.header
	position: relative
	background-color: $accent
	height: 45px
	font-size: 16px
	font-weight: 500
	margin-top: 3px
	.a__header
		display: inline-block
		color: #000
		height: inherit
		line-height: 45px
		padding: 0 5px
		transition: background-color .3s ease
		&:hover
			text-decoration: none
			background-color: rgba(#fff, .7)
	.active
		background-color: rgba(#fff, .7)
	.container
		position: relative
		height: inherit
	&-menu
		height: inherit
		display: inline-block
		nav
			height: inherit
			a
				&:last-child
					margin-right: 0
	.mobile-logo
		display: none
		width: 130px
		height: 45px
		position: relative
		left: 35px
		svg
			width: 130px
			height: inherit
	&-right
		position: absolute
		height: inherit
		top: 0
		right: 15px
		line-height: 45px
		& > *
			display: inline-block
		.city
			margin: 0 5px
			position: relative
			padding-right: 22px
			padding-left: 5px
			cursor: pointer
			transition: background-color .3s ease
			&:after
				content: "▼"
				position: absolute
				right: 5px
				font-size: 12px
				top: 2px
			&:hover
				background-color: rgba(#fff, .4)
				.cities
					display: block
				&:after
					content: "▼"
					transform: rotate(180deg)
			span
				display: block
				height: 45px
			.cities
				display: none
				max-height: 200px
				position: absolute
				right: 0
				overflow-y: scroll
				border:
					left: 1px solid $accent
					right: 1px solid $accent
					bottom: 1px solid $accent
				background-color: $accent
				z-index: 100
				.wrapper
					background-color: rgba(#fff, .4)
				a
					display: block
					padding: 0 10px
					color: #000
					text-decoration: none
					white-space: nowrap
					transition: background-color .3s ease
					&:hover
						background-color: rgba(#fff, .7)
		.sub-end
			height: inherit
			padding: 0 5px
			background-color: rgba(#fff, .7)
			line-height: 0.9
			span
				position: relative
				top: 5px
				font-size: 18px
				&:last-child
					font-size: 12px
	#ham8
		display: none
		position: absolute
		left: 0
		top: 0
		bottom: 0
		svg
			background: none

// main сайта
.main, .task
	.content-logo
		text-align: center
		margin: 5px 0
		img
			width: 900px
		&-sm
			margin-top: 20px
			text-align: center
			img
				width: 235px
				height: 35px
			p
				font-size: 16px
	.main-table-mobile, .task-table-mobile
		display: none
		padding: 0 5px
		margin: 10px auto
		text-align: center
		.vacancy
			position: relative
			width: 100%
			padding-top: 10px
			padding-bottom: 36px
			margin-bottom: 10px
			background-color: rgba($accent, .1)
			border: 1px solid #000
			border-radius: 20px
			overflow: hidden
			&:last-child
				margin-bottom: 0
			&-more
				display: flex
				background-color: rgba($accent, .5)
				justify-content: center
				align-items: center
				position: absolute
				padding: 5px 0
				bottom: 0
				right: 0
				left: 0
				font-size: 14px
				cursor: pointer
				transition: background-color .3s ease
				&:after
					content: "\f107"
					font-family: Fontawesome
					font-size: 16px
					position: relative
					right: -5px
				&:hover
					background-color: rgba($accent, .7)
			&-more.active
				&:after
					content: "\f107"
					font-family: Fontawesome
					transform: rotate(180deg)
			&-other
				display: none
			h2
				margin: 5px
				font-weight: 500
			.label
				display: block
				background-color: rgba($accent, .3)
			.description
				display: block
				padding: 3px 0
			.vacancy-free
				.border-button
					padding: 5px
					//background-color: $accent
				.description
					background-color: rgba(#9FEE00, .8)
					color: #000
					display: block
					width: 100%
					border: 2px solid #9FEE00
				.touch-icon
					display: inline-block
					width: 14px
					height: 14px
					transform: rotate(180deg)
					background: url(../img/icons/touch.svg) 100% 100% no-repeat
					font-size: 14px
					position: relative
					top: 3px
			.vacancy-address
				.description
					padding: 0 5px
			.close
				.description
					background-color: rgba(#FF5640, .8)
					color: #fff
					border: 2px solid #FF5640

	.main-table, .task-table
		margin-bottom: 10px
		table
			border-collapse: collapse
			width: 100%
			text-align: center
			margin: 0 auto
		table, th, td
			border: 1px solid #1a1a1a
		tr
			&:nth-child(2n+1)
				background-color: rgba($accent, .4)
			&:first-child
				background-color: $accent
		th
			padding: 3px 5px
			font-weight: 700
		td
			padding: 3px 5px
		.address
			position: relative
			div:first-child
				display: inline-block
				width: 88%
				padding-right: 5px
			div:last-child
				display: inline-flex
				align-items: center
				height: 100%
				width: 7%
				position: absolute
				top: 0
				bottom: 0
				right: 5px
				color: #A0000F
		.graph
			white-space: nowrap
		.circle
			display: block
			cursor: pointer
			position: relative
			padding-left: 25px
			text-align: left
			&:before
				content: ""
				display: inline-block
				position: absolute
				left: 0
				top: 2px
				width: 20px
				height: 20px
				background-color: #2DD700
				border: 2px solid #1D8C00
				border-radius: 20px
				box-shadow: inset 0 0 7px 0 rgba(0,0,0,1)
		.close
			&:before
				content: ""
				background-color: #FF0000
				border: 2px solid #A60000
	.task-table-mobile
		.vacancy
			padding-bottom: 10px
	.task-footer
		position: relative
		margin-top: 20px
		padding-bottom: 50px
		text-align: center
		.b
			&-left
				position: absolute
				left: 0
			&-right
				position: absolute
				right: 0


// Стили авторизаций пользователя
.auth-main, .task-main
	height: inherit
	.container
		height: inherit
	.auth, .task
		&-center
			display: flex
			height: inherit
			align-items: center
			flex-direction: column
			padding-top: 20%
		&-logo
			margin-bottom: 20px
			img
				max-width: 420px
				height: auto
		&-block
			width: 420px
			height: 280px
			background-color: rgba(#EEA399, .4)
			border: 1px solid #000
			border-radius: 40px
			box-shadow: 0 0 5px 3px rgba(#C00909, .4)
		&-logout, &-login, &-password-remember, &-success
			display: flex
			height: inherit
			align-items: center
			justify-content: center
			flex-direction: column
			text-align: center
			span
				font-size: 16px
				font-weight: 600
				margin-bottom: 20px
			button
				&:last-child
					margin-top: 7px
		&-login, &-password-remember
			form
				text-align: center
				.input-email
					position: relative
					text-align: center
					width: 100%
					height: 25px
					margin-bottom: 15px
					span
						position: absolute
						top: 7px
						right: -23px
						font-size: 14px
						color: #FFF
						line-height: 18px
						display: block
						width: 18px
						height: 18px
						border-radius: 20px
						background-color: rgba(#0095E1, .5)
						cursor: pointer
						transition: background-color .3s ease
						&:hover
							background-color: rgba(#0095E1, .8)
					.password-remember-helper
						display: none
						position: absolute
						top: 0
						right: -180px
						width: 150px
						text-align: center
						border: 1px solid #000
						border-radius: 10px
						background-color: #fff
						z-index: 200

				input[type="text"], input[type="password"], input[type="email"]
					display: block
					margin-bottom: 5px
					padding-left: 10px
					width: 180px
					height: 35px
					border: 1px solid #000
					border-radius: 5px
				.auth-remember
					margin-top: 5px
					input
						position: relative
						top: 2px
		&-error
			margin: 10px 0
			color: #FF0000
			font-weight: 800
		&-bottom
			width: 100%
			text-align: left
			position: relative
			a
				color: #000
				&:first-child
					position: relative
					left: 20px
				&:last-child
					position: absolute
					right: 20px

// Регистрация, Размещение
.registration, .accommodation
	position: relative
	text-align: center
	max-width: 992px
	padding: 20px 0
	margin: 0 auto
	&-header
		font-size: 16px
	&-input
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
	label, input, select
		display: inline-block
		width: 49%
		height: 35px
		line-height: 35px
		border: 1px solid #000
	label
		border-top-left-radius: 5px
		border-bottom-left-radius: 5px
		background-color: $accent
	input, select
		position: relative
		top: -1px
		border-top-right-radius: 5px
		border-bottom-right-radius: 5px
	input
		padding-left: 5px
	.col-md-6
		label
			border-right: none
		input, select
			top: 0
		select
			padding-left: 2px
	.col-md-12
		margin: 20px 0
		.accommodation-input
			display: flex
			align-items: center
			justify-content: center
		img, input
			display: inline-block
			width: 240px
			height: 40px
			line-height: 40px
			border: 1px solid #000
		input
			position: static
			font-size: 24px
		img
			position: relative
			border-right: none
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px
			padding: 5px
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button
		-webkit-appearance: none
		margin: 0
	input[type='number']
		-moz-appearance: textfield
	&-text
		text-align: left
		padding-left: 6px
		a
			color: #000
			text-decoration: underline
			transition: color .25s ease
			&:hover
				color: #333333
	&-time-add-desktop
		position: relative
		span
			display: none
			position: absolute
			top: -14px
			right: -20px
			font-size: 32px
			line-height: 18px
			cursor: pointer
			overflow: hidden
	&-time-add-mobile
		span
			display: none
			margin-bottom: 10px
	.split, #work-time-start_add, #work-time-end_add
		width: 24.5%
		text-align: center
	.split
		border-bottom-right-radius: 0
		border-top-right-radius: 0
		border-right: 0
	#work-time-start_add, #work-time-end_add
		display: none
	a.auth-button
		position: absolute
		left: 0
	#graph-div, #date-div
		display: none

.accommodation
	.row
		margin-left: 0
		margin-right: 0
	&-left
		padding-left: 0
	&-right
		padding-right: 0
	&-text
		padding-left: 0
		display: inline-block
		margin-top: 0


// user личный кабинет
.main-user
	padding: 30px 0
	text-align: center
	.user
		&-logo
			p
				font-size: 16px
		&-body
			border: 1px solid #000
			border-radius: 2px
			padding: 30px
			background-color: rgba($accent, .1)
			&-header
				font-size: 16px
				padding: 0
				margin-top: 0
			.row
				padding: 0 20px
		&-input
			margin-bottom: 10px
			.input, input, select, .label, label
				height: 35px
				line-height: 35px
				border: 1px solid #000
			.label, label
				display: block
				text-align: left
				background-color: $accent
				border-right: none
				border-top-left-radius: 10px
				border-bottom-left-radius: 10px
			.input, input, select
				display: block
				border-bottom-right-radius: 10px
				border-top-right-radius: 10px
				text-align: left
				background-color: #fff
				padding-left: 10px
	.footer-buttons
		margin-top: 30px
		padding-bottom: 30px
		position: relative
		a
			display: inline-block
			position: absolute
			&:first-child
				left: 0
			&:last-child
				right: 0
		.right
			display: inline-block
			position: absolute
			right: 0
	.payment-block
		display: flex
		align-items: center
		justify-content: center
		background-color: rgba(#fff, 1)
		.header-payment
			font-size: 16px
			margin-bottom: 40px
		span, a
			display: block
		span
			font-size: 14px
			margin-bottom: 5px
		a
			background-color: rgba($accent, .7)
			padding: 5px 15px
			white-space: nowrap
			color: #000
			transition: background-color .3s ease
			border: 1px solid #000
			border-radius: 2px
			&:hover
				background-color: rgba($accent, 1)
				text-decoration: none


// footer сайта
.footer
	background-color: $accent
	height: 70px
	font-size: 16px
	.container
		height: inherit
		position: relative
	&-text
		display: inline-block
		height: inherit
		line-height: 70px
	&-contacts
		position: absolute
		right: 15px
		display: inline-block
		text-align: left
		a
			display: block
			height: 35px
			line-height: 35px
			color: #000
			position: relative
			transition: color .25s ease
			&:hover
				color: #333
			&:first-child:before, &:last-child:before
				position: absolute
				top: 2px
				font-family: "Fontawesome"
			&:first-child
				&:before
					left: -19px
					content: "\f095"
			&:last-child
				&:before
					left: -22px
					content: "\f0e0"

// hamburger
.hamburger-menu
	display: none
	position: absolute
	top: 45px
	left: -1000px
	width: 100%
	height: 100vh
	transition: left 1s ease
	.hamburg-wrapper
		height: inherit
		background-color: #fff
		text-align: center
		border-top: 1px solid #fff
		hr
			height: 5px
			margin: 0
			background-color: #f5f5f5
		.a__name
			display: flex
			text-align: center
			height: 89px
			align-items: center
			justify-content: center
			a
				font-size: 18px
				display: block
				height: auto
				width: 100%
				padding-bottom: 10px
				color: #262626
				&:before
					content: "\f2be"
					font-family: Fontawesome
					position: relative
					left: -7px
					top: 10px
					font-size: 42px
				&:hover
					text-decoration: none
			a.mobile-button
				display: inline-block
				position: relative
				width: 120px
				height: 30px
				padding: 0
				&:before
					content: "\f2be"
					display: inline-block
					position: absolute
					left: -50px
					top: -20px
					font-size: 42px
		.sub-end
			background-color: rgba(#d8d8d8, .6)
			border-top: 1px solid #d8d8d8
			border-bottom: 1px solid #d8d8d8
		.menu-wrapper
			a
				display: block
				padding: 10px 0
				border-bottom: 1px solid #d8d8d8
				color: #000
				&:last-child
					border: none
				&:hover
					text-decoration: none
		.city
			background-color: rgba(#d8d8d8, .1)
			border-top: 1px solid #d8d8d8
			border-bottom: 1px solid #d8d8d8
			#city
				display: block
				height: inherit
				width: 100%
				padding: 10px 0
				&:before
					content: "\f0ac"
					font-family: Fontawesome
					position: relative
					left: -5px
					top: 1px
					font-size: 18px
			.cities
				display: none
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				width: 90%
				height: 80%
				margin: 0 auto
				margin-top: 20px
				background-color: $accent
				overflow-y: scroll
				.wrapper
					position: relative
					padding: 20px 0
					#close
						content: "X"
						position: absolute
						font-size: 20px
						right: 15px
						top: 3px
						display: inline-block
						cursor: pointer
					.cities-head
						font-size: 18px
						font-weight: 500
						margin-bottom: 10px
						display: block
					a
						display: block
						margin-bottom: 10px
						color: #7972D8
						border-bottom: 1px dotted #fff
					a:last-child
						margin-bottom: 0
			.cities.active
				display: block
				z-index: 1000
		.contacts
			background-color: $accent
			a
				display: block
				width: 100%
				height: inherit
				padding: 10px 0
				color: #000
				position: relative
				&:first-child:before, &:last-child:before
					position: relative
					font-family: "Fontawesome"
				&:first-child
					&:before
						left: -5px
						content: "\f095"
				&:last-child
					&:before
						left: -5px
						content: "\f0e0"
				&:hover
					text-decoration: none
			span
				display: block
				padding: 10px 0
				text-align: center
		.logout
			display: block
			width: 100%
			height: 50px
			line-height: 30px
			padding: 10px 0
			background-color: rgba(#d8d8d8, .6)
			color: #000
			font-size: 14px
			border-top: 1px solid #d8d8d8
			border-bottom: 1px solid #d8d8d8
		.politics
			background-color: rgba(#d8d8d8, .1)
			a
				display: block
				width: 100%
				height: inherit
				padding: 10px 0
				color: #000
				position: relative
				border-bottom: 1px solid #d8d8d8
				&:first-child
					border-top: 1px solid #d8d8d8
				&:hover
					text-decoration: none
.hamburger-menu.active
	left: 0

@import "media" // Всегда в конце
